@model IEnumerable<multas.Models.Agentes>

@{
    ViewBag.Title = "Agentes";
}

<h2>Lista de Agentes</h2>

@if (User.IsInRole("Agentes")) {
<p>
    @Html.ActionLink("Novo Agente", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esquadra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fotografia)
        </th>
        <th></th>
    </tr>

@foreach (var agentes in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => agentes.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => agentes.Esquadra)
        </td>
        <td>
            <a href="~/imagens/@agentes.Fotografia" target="_blank" />
            <img src="~/imagens/@agentes.Fotografia" width="50" height="37" />
        </td>
        <td>
         @if (User.IsInRole("Agentes")) {
            <div>
                @Html.ActionLink("Editar", "Edit", new { id = agentes.ID }) |
                @Html.ActionLink("Detalhes", "Details", new { id = agentes.ID }) |
                @Html.ActionLink("Apagar", "Delete", new { id = agentes.ID })
            </div>
         }
        </td>
    </tr>
}

</table>
